
.eve {
    padding-left: 650px;
    padding-top: 270px;
    font-size: x-large;
}
body {
    background-image: url("./Home.jpg");
    background-size: fixed;
}
#medi {
    color:green;
}
.home {
    padding-left: 20px;
}
.health {
    color:rgb(52, 52, 119);
}