h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: xx-large;   
}
p{
    color: maroon;
    text-align: center;
}
ul{
    color: black;
    text-align: center;

}
body { 
    height: 100%;
    width: 100%;
    float: center;
}
.center{
    margin: auto;
    border: 5px black;
    padding: 50%;
} 
img{
   float: center;
   height: 100%;
   width: 100%;
}
*{
    float: center;
}